
nav{
    height: 15vh;
    width: 100%;
    background: linear-gradient(54deg ,rgb(206, 197, 197) 40%,red);
    display: flex;
    position: sticky;
}

nav .logo{
 margin-left: 50px;
}
nav ul{
    list-style: none;
    position: relative;
    left: 50%;
    top:25%;
}
nav ul li{
    display: inline;
    padding: 0 auto;
}
nav ul li a{
    color:aliceblue;
    font-size:1.2em;
    padding: 0 15px;
    text-transform: capitalize;
    text-decoration: none;
}
nav ul li a:hover{
    color:rgb(206, 197, 197);
}
.we h1{
    text-align: center;
    color:red;
    text-transform: capitalize;

}
.we p{
    font-size: 1.2rem;
    padding: 20px 40px;
}
.we button{
    width:20%;
    height:40px;
    margin-bottom: 15px;
    position: relative;
    left:40%;
    background: red;
    color:#fff;
    text-align: center;
    font-size: 20px;
    border: none;
    transition: all ease 1s;
}
.we button:hover{
    border:1px solid red ;
    border-radius: 40px 20px;
    color:red;
    background:transparent;
    cursor: pointer;
}

.slidePoints button{
       margin-bottom: 2px;
       width: 3%;
       height:3px;
       display: inline-block;
       position: relative;
       left:45%;
       border-radius:15px 20px;
       background:gray;
       border:none;
       
       
       
}
.slidePoints button:hover {
    cursor: pointer;
    background:cyan;}
.slide {
    border-top:1px solid grey;
    border-bottom: 1px solid grey;
}
#slide-active {
    padding :5px;
    width:100%;
}
footer{
    background: linear-gradient(54deg ,rgb(206, 197, 197) 40%,red);
    height:10vh;
    width: 100%;
    

}
footer p{
    margin-top: 2px;
    position: relative;
    top:30%;
   animation-name: move;
   animation-duration:4s;
   animation-iteration-count: infinite;
    color: rgba(240,0,40,.7);
    font-weight: bolder;
}

.socialMedia{
    list-style: none;
    position: relative;
    left: 88%;
    bottom: 10%;
 
}
.socialMedia li{
    display: inline;
    
    
}
.socialMedia li i{
    display: inline-block;
    color:whitesmoke;
    width:50px;
    height:50px;
    
    
}
.socialMedia li i:hover{
    color:gray;
    cursor:pointer;
    scale: 150%;
}
@keyframes move {
    0% {left:0;}
    25% {left:15%;}
    50% {left:30%;}
    75% {left:15%;}
    100%{left:0%;}
    
}
